@media only screen and (max-width: 767px) {
	.carousel-item > .row > .col-md-4 > .card > .card-body.promo > div.col-md-10 {
		max-width: 70%;
	}
	.carousel-item > .row > .col-md-4 > .card > .card-body.promo > div.col-md-10 > h6,p {
		width: 100%;
	}
	.carousel-item > .row > .col-md-4 > .card > .card-body.promo > div.col-md-10 > .card-text {
    	margin-bottom: 5px !important;
	}
	.carousel-item > .row > .col-md-4 {
		margin-bottom: 20px;
	}
	.btn-member, .search-product {
		margin-top: 10px !important;
	}
	.btn-member > .col:first-child {
		padding-left: 0 !important;
	}
	.login-card {
		margin-top: 40px;
	}
	.promo-list {
		padding-bottom: 20px;
	}
	.product-list {
		flex: 100% !important;
    	max-width: 100% !important;
	}
	.sm-35 {
		flex: 0 0 50% !important;
		max-width: 50%;
	}
	form.search-product {
		max-width: 50%;
	}
	ul.order-produk > li.list-group-item > .row > .col-md-2 {
	    max-width: 20%;
	}
	ul.order-produk > li.list-group-item > .row > .col-md-3 {
	    max-width: 25%;
	}
	ul.order-produk > li.list-group-item > .row > .col-md-7 {
	    max-width: 55%;
	    align-self: center;
	}
	ul.order-produk > li.list-group-item > .row > .col-md-7 > p:first-child {
	    margin: 0;
	}
	.detail-produk ul li .btn-success {
		width: 100%;
	}
	div.list-group > a.list-group-item > .row > .col-md-2 {
	    max-width: 20%;
	}
	div.list-group > a.list-group-item > .row > .col-md-3 {
	    max-width: 25%;
	}
	div.list-group > a.list-group-item > .row > .col-md-7 {
	    max-width: 55%;
	    align-self: center;
	}
	.profile-login .col-md-8 {
		text-align: center;
    	padding-top: 20px;
	}
	.default-image img {
	    max-height: 167px;
	}
}
@media only screen and (max-width: 991px) {
	.carousel-inner.slide-center {
	    padding-right: 0;
	    padding-left: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-item > .row > .col-md-4 > .card > .card-body.promo{
		height: 380px;
	}
	.carousel-item > .row > .col-md-4 > .card > .card-body.promo > div.col-md-10 {
		max-width: 100%;
	    margin: 25px 0 0 !important;
	    width: auto;
	    padding: 0;
	}
	.carousel-item > .row > .col-md-4 > .card > .card-body.promo > img {
		bottom: 20px;
	    right: unset;
	    left: 20px;
	    height: 120px;
	    padding-top: 20px;
	    margin-bottom: 10px;
	}
	.sm-35 {
		flex: 0 0 35% !important;
		max-width: 35%;
	}
	form.search-product {
		max-width: 40%;
	}
	ul.order-produk > li.list-group-item > .row > .col-md-3 {
		padding: 0;
    	align-self: center;
	}
	ul.order-produk > li.list-group-item > .row > .col-md-3 > img {
		max-width: 100%;
    	max-height: 70px;
	}
	.product-list {
		-ms-flex: 0 0 33.3% !important;
	    flex: 0 0 33.3% !important;
	    max-width: 33.3% !important;
	}
	.col-md-2.promo-list {
		-ms-flex: 0 0 33.3% !important;
	    flex: 0 0 33.3% !important;
	    max-width: 33.3% !important;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.carousel-item > .row > .col-md-4 > .card > .card-body.promo{
		height: 380px;
	}
	.carousel-item > .row > .col-md-4 > .card > .card-body.promo > img {
		bottom: 20px;
	    right: unset;
	    left: 20px;
	    height: 160px;
	    padding-top: 20px;
	    margin-bottom: 10px;
	}
}